.footer {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.footer__circle {
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: -128px;
  left: -44px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  margin-right: 80px;
  margin-left: 80px;
  z-index: 3;
}
.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  margin-bottom: 20px;
  text-align: end;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.footer__list-item {
  display: flex;
  list-style: none;
}
.footer__social-link {
  padding-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__social-link:hover {
  color: #c1c1c1;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__copyright {
  margin-left: 80px;
  margin-top: 108px;
  padding-bottom: 60px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
