.nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin-top: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  margin-top: 30px;
  list-style: none;
  font-size: 16px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  max-width: 636px;
  column-gap: 20px;
  display: flex;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.nav__link:hover {
  color: #2f80ed;
}
