.page {
  background-color: #ffff;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;

  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
